.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  padding: 2rem;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.footer {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
}
